.detail {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;

    background: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    overflow: hidden;
  }





}


.close {
  position: absolute;
  height: 21px;
  width: 21px;
  background: #333;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 100;
  color: #fff;

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    right: 9px;
    top: 3px;
    border-left: 2px solid #eee;
    height: 14px;
    width: 0;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

}



@media screen and (max-width: 768px) {}