html {
  font-size: 62.5%;
}

h1,
h2 {
  margin: 0;
}

body {
  width: 100%;
  position: relative;
  background: #666;
  color: #333;
  font-family: "Noto Serif JP", "HiraKakuProN-W3", "Meiryo", sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}


a {
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top;
}

.fb {
  font-family: "Lato", sans-serif;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 12px;
  color: var(--clr-black);
  background: var(--clr-back);
  width: var(--sys-width);
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  #root {
    width: 100vw;
  }
}