:root {

  --sys-width: 1440px;
  --pop-width: 1000px;

  --menu-width: 200px;
  --menu-height: 240px;
  --foot-heigth: 150px;

  --win-width: calc(var(--sys-width) - var(--menu-width));
  --win-height: calc(100vh - var(--menu-height) - var(--foot-heigth) - 100px);

  --fil-grey: brightness(0) saturate(100%) invert(17%) sepia(7%) saturate(0%) hue-rotate(356deg) brightness(97%) contrast(90%);
  --fil-lose: brightness(0) saturate(100%) invert(49%) sepia(18%) saturate(1746%) hue-rotate(312deg) brightness(91%) contrast(93%);
  ;


  --clr-main: #ff6600;
  --clr-sub: #B24545;

  --clr-nav: #D95D5D;
  --clr-lose: #F25757;
  --clr-prot: #4AA578;
  --clr-qa: #167B7D;

  --clr-nav-hover: #BA4E4E;
  --clr-lose-hover: #D64B4B;
  --clr-prot-hover: #3B8661;
  --clr-qa-hover: #115D5E;

  --clr-note: #4C79BD;




  --clr-bg: #F5F5F5;
  --clr-white: #FFFFFF;
  --clr-grey: #AFAFAF;
  --clr-bk: #000000;
  --hover-color-1: #DA4E4E;
  --hover-color-2: #43956C;


  --shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}