:root {

  --sys-width: 1440px;
  --pop-width: 1000px;

  --menu-width: 200px;
  --menu-height: 240px;
  --foot-heigth: 150px;

  --win-width: calc(var(--sys-width) - var(--menu-width));
  --win-height: calc(100vh - var(--menu-height) - var(--foot-heigth) - 100px);

  --fil-grey: brightness(0) saturate(100%) invert(17%) sepia(7%) saturate(0%) hue-rotate(356deg) brightness(97%) contrast(90%);
  --fil-organ: brightness(0) saturate(100%) invert(43%) sepia(63%) saturate(2793%) hue-rotate(0deg) brightness(102%) contrast(106%);

  --fil-grey: brightness(0) saturate(100%) invert(89%) sepia(0%) saturate(0%) hue-rotate(337deg) brightness(84%) contrast(91%);

  --fil-gold: brightness(0) saturate(100%) invert(79%) sepia(62%) saturate(422%) hue-rotate(339deg) brightness(89%) contrast(92%);
  --fil-silver: brightness(0) saturate(100%) invert(73%) sepia(2%) saturate(10%) hue-rotate(314deg) brightness(99%) contrast(103%);
  --fil-copper: brightness(0) saturate(100%) invert(55%) sepia(19%) saturate(1366%) hue-rotate(343deg) brightness(89%) contrast(84%);
  ;
  --fil-four: brightness(0) saturate(100%) invert(10%) sepia(40%) saturate(3144%) hue-rotate(205deg) brightness(95%) contrast(93%);
  ;


  --clr-main: #ff6600; 
  --clr-sub: #B24545;

  --clr-nav: #D95D5D;
  --clr-lose: #F25757;
  --clr-must: #F00;
  --clr-find: #C2B32D;
  --clr-prot: #4AA578;
  --clr-note: #4C79BD;
  --clr-bg: #F5F5F5;
  --clr-white: #FFFFFF;
  --clr-grey: #D3D3D3;
  --clr-bk: #000000;
  --hover-color-1: #BA4E4E;
  --hover-color-2: #43956C;
  --hover-color-3: #D3D3D3;
  --hover-color-4: #3B8661;


  --shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}