.loginReq {
  width: var(--sys-width);
  // height: calc(100vh - var(--menu-height));
  height: auto;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: var(--clr-bg);
  padding: 40px 80px;
  box-sizing: border-box;
  font-family: Inter;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-white);
    width: 1220px;
    height: auto;  // 增加高度，修改这里
    overflow: auto; 
    margin-top: 5px;  
    gap: 20px;
  }

  .TextRow1 {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .TextRow3 {
    margin: 10px;
    margin-top: -40px;  
    margin-bottom: 20px;
    font-size: 13px;
    color: var(--clr-grey);
    text-align: center;
  }

  .TextRow4 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: var(--clr-white);
    background: var(--clr-lose);
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .btn:hover{
    background: var(--hover-color-1);
  }
  .TextRow3 span {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {}