# dependencies
/server/.vscode
/server/node_modules
/server/img

/site/build
/site/node_modules
/site/*.lock
/site/package-lock.json


/test/node_modules
/test/mqtt/node_modules
/sql/node_modules



secret.md

# misc
.DS_Store
*.zip

