:global {
  nav {
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
    color: #333;
    background: #fff;
    box-sizing: border-box;
  }
}

.usr {
  background: #fff;
  height: 200px;
}






@media screen and (max-width: 768px) {
  :global {
    nav {
      width: 100vw;
      // background: #d9d9d9;
    }
  }


}