:global {}

.note {
  width: var(--sys-width);
  font-family: Inter;
  display: flex;
  flex-direction: column;
  background: #eee;
  padding: 40px 60px;
  box-sizing: border-box;
  min-height: var(--win-height);

  .wrap {
    display: flex;
    flex-direction: column;
    padding: 0 0 60px 0;
    background: #fff;


    .hd {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      // background: var(--clr-nav);
      justify-content: space-between;
      width: 100%;
      height: 600px;
      padding: 30px 60px;
      box-sizing: border-box;
      color: #fff;
      // backgroundImage: url('/img/bg02.webp');
      // background: url(`${process.env.PUBLIC_URL}/img/bg02.webp`);

      h1 {
        font-size: 32px;
        font-weight: 700;
        align-self: flex-start;
        color: var(--clr-nav);
        font-weight: 400;
        font-family: Zen Maru Gothic;
      }


      p {
        align-self: flex-end;
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          font-size: 17px;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          color: #333;
          letter-spacing: .2em;
        }

        input {
          color: #C4C3C3;
          text-align: center;
          font-size: 15px;
          font-weight: 600;
          line-height: 39px;
          width: 300px;
          border-radius: 20px;
          height: 40px;
          align-self: flex-end;
        }
      }


    }

    .bd {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 100px;



      .list {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
      }

      .page {
        margin: 20px 0;
        display: flex;
        width: 100%;
        justify-content: flex-end;

      }

      .sect {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;

        h1 {
          display: flex;
          align-items: center;
          margin-bottom: 30px;

          span {
            color: #000;
            font-size: 22px;
            margin-right: 25px;
          }

          em {
            display: flex;
            height: 25px;
            padding: 6px 30px;
            font-size: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            background: #D95D5D;
            color: #fff;
            box-sizing: border-box;
          }
        }

        .noteitem {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 20px;
          cursor: pointer;
          transition: .3s;


          &:global(.rank) {
            padding: 20px 20px 20px 110px;
          }

          &:hover {
            box-shadow: var(--shadow);
          }

          &+.noteitem {
            border-top: 1px solid #ccc;
          }

          em {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 25px;
            top: 25px;
            width: 56px;
            height: 56px;
            border-radius: 28px;
            background: var(--clr-nav);
            color: #fff;
            font-size: 25px;
            font-weight: 700;
          }

          h1 {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
          }



          .desc {
            display: flex;
            padding: 0 30px;

            p {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #9E9E9E;

              &+p {
                margin-left: 30px;
              }

              img {
                width: 20px;
                height: 20px;
              }

              span {
                font-size: 15px;
                font-weight: 700;
                margin-left: 10px;
              }
            }
          }

        }

      }
    }


  }

}