.menu {
  position: relative;
  width: var(--sys-width);
  height: var(--menu-height);
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: #fff;
  background: var(--clr-nav);
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 700;


  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 400px;
      height: auto;
      object-fit: cover;
      margin-top: -20px;
    }
  }



  .fn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      letter-spacing: .1em;

      &:last-child {
        width: 145px;
        height: 35px;
        flex-shrink: 0;
        font-size: 12px;
        border-radius: 5px;
        background: var(--clr-sub);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background: var(--clr-sub);
        letter-spacing: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }

      &+span {
        margin-left: 20px;
      }
    }
  }


  .list {
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    display: flex;

    .item {
      display: flex;
      padding: 0 40px;
      cursor: pointer;


      &+.item {
        border-left: 3px solid #fff;
      }

      span {
        position: relative;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        line-height: 1;
        letter-spacing: .2em;
        transition: .3s;

        &:hover {
          opacity: .9;
        }


        &:global(.sel) {


          &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            display: block;
            position: absolute;
            bottom: -10px;
          }

        }


      }
    }


  }
}




@media screen and (max-width: 768px) {
  .menu {
    width: 100vw;
    display: none;
  }
}