
  .formpost {
    width: var(--sys-width);
    height: 100%;
    flex-direction: column;
    background: #eee;
    padding: 40px 60px;
    box-sizing: border-box;
    min-height: var(--win-height);
    justify-content: center;
    align-items: center;

    .wrap{
      width: 100%;
      flex-direction: column;
      background: #fff;
      padding: 50px 100px;
      height: 100%;
      overflow: scroll;
      box-sizing: border-box;
      ::-webkit-scrollbar {
        display: none;
    }
      .btn {
        background-color: var(--clr-lose); 
        color: var(--clr-white);  
        display: flex; 
        justify-content: center; 
        align-items: center;  
        margin: auto;  
        width: 400px; 
        height: 50px;  
        font-family: 'Inter';
        font-style: normal;
        font-weight: 350;
        font-size: 22px;
        line-height: 39px;
        border-radius: 10px; 

        &:disabled {
          background-color: var(--clr-grey); 
        }

        &:not(:disabled):hover {
          background-color: var(--hover-color-1);
        }
      }
      .btn-protect {
        background: var(--clr-prot);
      }
      
      .btn-protect:not(:disabled):hover {
        background-color: var(--hover-color-4);
      }

      

    }

    
  }

