
  .formpost {
    width: var(--sys-width);
    height: 100%;
    flex-direction: column;
    background: #eee;
    padding: 40px 60px;
    box-sizing: border-box;
    min-height: var(--win-height);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .wrap{
      width: 100%;
      flex-direction: column;
      background: #fff;
      padding: 50px 100px;
      height: 100%;
      overflow: scroll;
      box-sizing: border-box;
      ::-webkit-scrollbar {
        display: none;
    }

    }
  }

