.main {
  display: flex;
  flex: 1;
  padding-top: 1px;
  background: #333;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .wrap {
    width: 1440px;
  }
}

.load,
.edit {
  width: var(--sys-width);
  height: calc(100vh - var(--menu-height));
  position: fixed;
  z-index: 99;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100px;
    height: 100px;

  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}