.cardDetailCat {

  width: calc(1000px + 20px);
  padding: 80px 80px 20px;
  box-sizing: border-box;



  .hd {
    display: flex;
    margin: 0 100px;

    .item {
      display: flex;

      justify-content: center;

      &:nth-child(2) {
        flex: 1;
      }

      img {
        width: 20px;
        margin-right: 5px;
      }
    }

  }

  .bd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    box-sizing: border-box;

    .img {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0 -40px;

      .arrow {
        width: 40px;
        height: 40px;
      }

      .list {
        display: flex;
        position: relative;

        img {
          width: 640px;
          height: 500px;
          object-fit: cover;
          display: none;

          &:global(.act) {
            display: block;
          }

        }


      }


    }



    .sig {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      .row {
        display: flex;

        &+.row {
          margin-top: 5px;
        }

        label {
          color: #9E9E9E;
          width: 200px;
        }
      }
    }

    .com {
      display: flex;
      flex-direction: column;
      width: 100%;

      .row {
        display: flex;
        flex-direction: column;

        label {
          color: #9E9E9E;
          margin-bottom: 10px;
        }

        p {
          line-height: 1.5;
          padding-left: 40px;
          text-align: justify;
          white-space: pre-wrap;
        }
      }


    }
  }

  .ft {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .btnItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .9;
      }

      span {
        margin-bottom: 5px;
        font-weight: 300;
      }

      img {
        width: 32px;
      }
    }

    .btn {
      font-size: 15px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 40px;
      padding: 5px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 2px solid #FFF;
      background: #666;
      box-sizing: border-box;
      box-shadow: 0px 3.25px 0px 0px rgba(0, 0, 0, 0.04);
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .9;
      }
    }
  }

}


.fav {
  filter: var(--fil-lose);
}


@media screen and (max-width: 768px) {}